.mat-header-cell:last-of-type {
  display: flex;
  justify-content: flex-end;
}

.mat-cell:last-of-type {
  display: flex;
  justify-content: flex-end;
}

.contact-avatar-image {
  width: 3rem;
  height: 3rem;
}

.search-field:not(:last-child) {
  margin-right: 1rem;
}

.table-options-toolbar {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0rem;
}
