.mat-header-cell:last-of-type {
  display: flex;
  justify-content: flex-end;
}

.mat-cell:last-of-type {
  display: flex;
  justify-content: flex-end;
}

.contact-avatar-image {
  width: 3rem;
  height: 3rem;
}
