<div>
    <form class="add-contact-form" (submit)="submitContact();$event.preventDefault()">
        <mat-form-field appearance="fill">
            <mat-label>First Name</mat-label>
            <input [formControl]="firstNameFormControl" matInput>
            <mat-error>First name is too short</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Last Name</mat-label>
            <input [formControl]="lastNameFormControl" matInput>
            <mat-error>Last name is too short</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Date of birth</mat-label>
            <input [max]="today" [formControl]="birthdayFormControl" matInput [matDatepicker]="picker">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-error>Invalid date of birth</mat-error>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Picture Url</mat-label>
            <input [formControl]="pictureUrlFormControl" matInput>
            <mat-error>Invalid url</mat-error>

        </mat-form-field>
        <button [disabled]="newContactFormGroup.invalid" mat-raised-button color="primary">Submit</button>
    </form>
</div>