<div>
    <form class="contact-form" (submit)="submitContact();$event.preventDefault()">
        <mat-form-field appearance="fill">
            <mat-label>First Name</mat-label>
            <input #firstName [formControl]="firstNameFormControl" matInput>
            <mat-error>First name is too short</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Last Name</mat-label>
            <input #lastName [formControl]="lastNameFormControl" matInput>
            <mat-error>Last name is too short</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Date of birth</mat-label>
            <input #birthday [max]="today" [formControl]="birthdayFormControl" matInput [matDatepicker]="picker">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-error>Invalid date of birth</mat-error>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Picture Url</mat-label>
            <input #pictureUrl [formControl]="pictureUrlFormControl" matInput>
            <mat-error>Invalid url</mat-error>
        </mat-form-field>
        <button mat-raised-button color="primary" [disabled]="newContactFormGroup.invalid ||  isModified===false">
            Submit
        </button>
    </form>
</div>