<div class="full-size">
  <p>
    <mat-toolbar color="primary">
      <button mat-icon-button>
        <mat-icon>menu</mat-icon>
      </button>
      <span class="margin-left-1-rem">THTG Client Book</span>

      <a class="_margin-left-1-rem" routerLink="/dashboard"><button mat-raised-button>navigate to dashboard</button></a>
      <a class="_margin-left-1-rem" routerLink="/add-contact"><button mat-raised-button>navigate to add
          contact</button></a>

    </mat-toolbar>
  </p>


  <router-outlet></router-outlet>
</div>