/* You can add global styles to this file, and also import other style files */

@use "@angular/material" as mat;

$my-primary: mat.define-palette(mat.$blue-palette);
$my-accent: mat.define-palette(mat.$pink-palette);
$my-warn: mat.define-palette(mat.$red-palette);

$my-theme: mat.define-dark-theme(
  (
    color: (
      primary: $my-primary,
      accent: $my-accent,
      warn: $my-warn,
    ),
    density: 0,
  )
);

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: rgba($color: #ffffff, $alpha: 0.8);
  background-color: rgba($color: #030303, $alpha: 0.8);
}
