<div>
    <form class="add-contact-form">
        <mat-form-field appearance="fill">
            <mat-label>Name</mat-label>
            <input matInput>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Surname</mat-label>
            <input matInput>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Date of birth</mat-label>
            <input matInput>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Picture Url</mat-label>
            <input matInput>
        </mat-form-field>
        <button mat-raised-button color="primary">Submit</button>
    </form>
</div>